body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18pt;
    font-family: "Levi Windows", "MS Sans Serif";
    overflow: hidden;
    cursor: url('/sys/cursor98/Cursor79.cur'), auto;
}

* {
    margin: 0;
    padding: 0;
    --shadow-border: gray;
    --source-border: #FFF;
    --outset-preset: var(--source-border) var(--shadow-border) var(--shadow-border) var(--source-border);
    --inset-preset: var(--shadow-border) var(--source-border) var(--source-border) var(--shadow-border);
    --window-background: #C0C0C0;
    --window-title-bar-color: #000080;
    --window-margin: 3px;
    --window-title-color: white;
    --window-title-bar-height: 20px;
    --border: 2px solid;
    --border-start: 3px solid;
    --border-div: 1px solid;
    --test-hitbox: 0;
}

button {
    cursor: url('/sys/cursor98/Cursor107.cur'), auto;
}

desktop,
window,
window-title,
taskbar,
start-button,
task-div {
    box-sizing: border-box;
    display: block;
}
desktop > * {
    user-select: none;
}

desktop > * pre {
    user-select: text;
    
}

desktop > * pre:hover {
    cursor: text;
}

/* window,
desktop,
taskbar {
    scale: 0.8;
} */

taskbar {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: var(--window-background);
    border: 2px solid;
    border-color: #fff #00000000 #00000000 #00000000;
    box-shadow: 0 -1.5px var(--window-background);
    position: absolute;
    bottom: 0px;
    align-items: center;
    gap: 2px;

}

desktop {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: cadetblue;
}

start-button {
    width: 80px;
    height: 25px;
    border: var(--border-start);
    border-color: var(--outset-preset);
    border-image: url('/sys/outset.gif') 2 stretch;
    font-size: 12pt;
}

start-button:active {
    width: 80px;
    height: 25px;
    border: var(--border-start);
    border-color: var(--inset-preset);
    border-image: url('/sys/inset.gif') 2 stretch;
}

task-div {
    height: 85%;
    width: 1px;
    border: var(--border-div);
    border-color: var(--inset-preset);
}

window {
    --offsetX: attr(data-offset-x %);
    --offsetY: attr(data-offset-Y %);
    position: absolute;
    left: calc(0% + var(--offsetX));
    top: calc(0% + var(--offsetY));
    width: 500px;
    height: 400px;
    /* transform: translate(-50%, -50%); */
    overflow: hidden;
    border: var(--border);
    border-color: var(--outset-preset);
    background-color: var(--window-background);
    min-width: 250px;
    min-height: 250px;
    box-sizing: border-box;
}

.code-background {
    box-sizing: border-box;
    background-color: #000;
    width: 100%;
    min-width: max-content;
    height: max-content;
    color: white;
    padding: 10px;
    display: inline-block;
}

.code-background>pre>code {
    font-size: 12pt;
}


/* window:after {
    left: calc(50% + attr(data-offset-x px));
    top: calc(50% + attr(data-offset-y px));
} */



window>window-title {
    width: calc(100% - var(--window-margin) * 2);
    height: var(--window-title-bar-height);
    background: linear-gradient(to right, #888, #CCC 90%);
    margin: var(--window-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    position: relative;
}

window.active>window-title {
    background: linear-gradient(to right, var(--window-title-bar-color), #0F7FCD 90%);
}

window>window-title>h4 {
    color: #AAA;
    padding-left: var(--window-margin);
    padding-right: var(--window-margin);
    font-size: 12pt;
}

window.active>window-title>h4 {
    color: var(--window-title-color);
}

sys-buttons-area {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* gap: 4px; */
    margin-right: var(--window-margin);
    z-index: 20;
}

sys-button {
    width: 10px;
    height: 10px;
    background-color: var(--window-background);
    border: var(--border);
    border-color: var(--outset-preset);
    border-image: url('/sys/outset.gif') 2 stretch;
    background-repeat: no-repeat;
    background-size: cover;
}

sys-button:active {
    border-color: var(--inset-preset);
    border-image: url('/sys/inset.gif') 2 stretch;

}

sys-button.minimize {
    background-image: url(/sys/minimize.png);
}

sys-button.maximize {
    background-image: url(/sys/maximize.png);
}

sys-button.close {
    background-image: url(/sys/close.png);
    margin-left: 2px;
}

window-body {
    display: block;
    box-sizing: border-box;
    height: calc(100% - var(--window-title-bar-height) - 10px);
    width: calc(100% - (var(--window-margin)* 2));
    margin: auto;
    border: var(--border);
    border-color: var(--inset-preset);
    overflow: auto;
}

title-hitbox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* background-color: #00FF00AA; */
    background-color: if(style(--test-hitbox:1): #00FF00AA; else: #00000000);
    /* background-color: if(style(--test-hitbox: true) ? "#00FF00AA" : "#000"); */

}

title-hitbox:active {
    background-color: if(style(--test-hitbox:1): #FF0000AA; else: #00000000);
}

border-hitbox {
    display: block;
    position: absolute;
    background-color: if(style(--test-hitbox:1): #00FF00AA; else: #00000000);
}


/* side edges*/
border-hitbox.edge-right,
border-hitbox.edge-left {
    width: 20px;
    height: 100%;
    top: 0%;
}

/* ceiling-floor edges*/
border-hitbox.edge-top,
border-hitbox.edge-bot {
    width: 99%;
    height: 20px;
    left: 6px;
}

/* top related resizers*/
border-hitbox.top-right,
border-hitbox.top-left,
border-hitbox.edge-top {
    top: -2%;
}

/* right-related resizers */
border-hitbox.edge-right,
border-hitbox.top-right,
border-hitbox.bot-right {
    left: 99%;
}

/* left-related resizers */
border-hitbox.edge-left,
border-hitbox.top-left,
border-hitbox.bot-left {
    left: -10px;
}

/* bot-related resizers */
border-hitbox.edge-bot,
border-hitbox.bot-left,
border-hitbox.bot-right {
    top: 98%
}

/* corner-resizers */
border-hitbox.top-left,
border-hitbox.bot-left,
border-hitbox.top-right,
border-hitbox.bot-right {
    width: 20px;
    height: 20px;
    background-color: if(style(--test-hitbox:1): #0000FFAA; else: #00000000);
}


border-hitbox.edge-left:hover,
border-hitbox.edge-right:hover {
    cursor: url('/sys/cursor98/Cursor93.cur'), ew-resize;
}

border-hitbox.edge-top:hover,
border-hitbox.edge-bot:hover {
    /* cursor: ns-resize; */
    cursor: url('/sys/cursor98/Cursor95.cur'), ns-resize;
}

border-hitbox.bot-left:hover,
border-hitbox.top-right:hover {
    /* cursor: sw-resize; */
    cursor: url('/sys/cursor98/Cursor91.cur'), sw-resize;
}

border-hitbox.top-left:hover,
border-hitbox.bot-right:hover {
    /* cursor: nw-resize; */
    cursor: url('/sys/cursor98/Cursor89.cur'), nw-resize;
}

border-hitbox:active {
    /* width: 200vw; */
    /* left: 50%; */

    background-color: if(style(--test-hitbox:1): #FF0000AA; else: #00000000);
}

window[data-resizable="false"] > border-hitbox:hover {
    cursor: url('/sys/cursor98/Cursor79.cur'), auto !important;
}

/* quick launch */

quick-launch {
    display: flex;
    width: 100px;
    gap: 2px;
    align-items: center;
    box-sizing: border-box;
}

ql-icon {
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 22px 22px;
}

ql-icon.add {
    background-image: url('/sys/add.png');
}
ql-icon.trash {
    background-image: url('/sys/trash.png');
}

ql-icon:active {
    border: var(--border);
    border-color: var(--inset-preset);
    border-image: url('/sys/inset.gif') 2 stretch;
    background-size: 20px 20px;
}

window-body > .new-window-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18pt;
    padding: 10px;
    gap: 2px;
    box-sizing: border-box;
}

.new-window-form > input {
    font-size: 12pt;
}

.new-window-form > label {
    font-size: 12pt;
}



/* window > border {
    display: block;
    width: 100%;
    height: 100%;
    border: 4px solid black;
} */