@import url('https://fonts.cdnfonts.com/css/gunship');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --header-color: beige;
    --nav-color: green;
    --footer-color: #500;
    --content-color: blue;

    --nav-font-fam: 'Gunship Condensed', sans-serif;
    --show-background: 0;

    /* font-family: 'Gunship', sans-serif;
    font-family: 'Gunship Condensed', sans-serif;
    font-family: 'Gunship Shadow', sans-serif;
    font-family: 'Gunship Condensed Ital', sans-serif;
    font-family: 'Gunship Italic', sans-serif;
    font-family: 'Gunship Shadow Ital', sans-serif; */

}

h1 {
    font-weight: 800;
    font-size: revert !important;
}

h1#headernote {
    font-size: 48=px !important;
}

h1#headernote::first-letter {
    font-size: 72px !important;
}

.main-container {
    display: if(style(--show-background: 1) : none; else : block);
}


.main-wrapper {
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

.main-container {
    height: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    position: relative;
    z-index: 2;
}

.container-grid {
    display: grid;
    height: 100%;
    grid-template-areas: 'header' 'nav' 'content' 'footer';
    grid-template-rows: 240px 60px auto 120px;
    animation: var(--animation-sudden);
}

.grid.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('/sys/kr_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 50px #F00, 2px 0px 5px #f00, -2px 0px 5px #f00, 0px -2px 5px #f00;
    border: 1px solid red;
    margin-bottom: 2px;
}



.grid.nav {
    grid-area: nav;
    background-color: var(--nav-color)
}

.grid.content {
    grid-area: content;
    background-color: var(--content-color);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.grid.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: footer;
    background-color: var(--footer-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.grid.content>* h1,
.grid.content>* h2,
.grid.content>* h3,
.grid.content>* h4 {
    font-family: 'Courier New', Courier, monospace;
}


/*background div*/

.background-div {
    position: absolute;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    box-sizing: border-box;

}

nav>.nav-item {
    flex: 1;
    flex-grow: 1;
    box-sizing: content-box;
    border: 10px solid var(--nav-color);
    font-family: var(--nav-font-fam);
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.nav-item:hover {
    background-color: red;
    border: 10px solid red;
}

.nav-item:active {
    background-color: white;
    border: 10px solid white;
}

.nav-item>span.nav-item-text {
    font-size: 24px;
}

.content-grid-about {
    height: 100%;
    display: grid;
    grid-template-areas: 'leftpane main-content';
    grid-template-columns: 0.4fr 1.6fr;
}

.container-grid-about>* {
    box-sizing: border-box;
}

.leftpane {
    grid-area: leftpane;

}



.content-grid-about>.leftpane {
    border: 8px ridge white;
    background-color: #DDD;
}

.content-grid-about>.main-content {
    border: 8px inset white;
    background-color: #DDD;
}

.main-content>* section {
    padding: 20px;
}

section#first>p {
    text-wrap: wrap;
}

div#about>* img {
    display: inline-block;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

div#collection>* img {
    display: block;
    width: 300px;
    aspect-ratio: 2/1;
}

div#collection>* img.gavv {
    width: 300px;
    height: 200px
}

img.ichigo {
    float: right;
    margin-left: 10px;
}

img.zeztz {
    float: left;
    margin-right: 10px;
}

ul {
    margin-left: 30px;
}


.follow {
    position: sticky;
    top: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    margin-left: 8px;
    height: 90vh;
    overflow-y: auto;
}

.follow>h3,
.follow>h4,
.follow>* h4 {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
}

.follow>a.sub-tb-header>h5, .follow>a.super-sub-sect>h5 {
    font-weight: 500 !important;
}


.main-content> :not(.active) {
    display: none;
}

.redacted {
    background-color: #000;
    cursor: pointer;
}

.redacted:hover {
    background-color: rgba(0, 0, 0, 0);
}

#driver_prop,
#driver_prop>* th,
#driver_prop>* td,
#driver_prop>caption {
    border: 1px solid black;
    border-collapse: collapse;
}

#driver_prop>* th,
#driver_prop>* td,
#driver_prop>caption {
    padding: 10px;
}

.space_around {
    margin-top: 10px;
    margin-bottom: 30px;
}


.image-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 10px;
}

.sub-tb-header {
    margin-left: 10px;
}

.sub-sub-tb-header {
    margin-left: 25px;
}

.super-sub-sect {
    margin-left: 35px;
}

.credit {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.credit>a {
    text-decoration: none;
    font-weight: 600;
}

.credit>a:hover {
    text-decoration: underline dotted #FFF;
}

.credit>a,
.credit>a:visited {
    color: white;
}


/* section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    position: relative;
}

section > h1 {
    color: #fff;
    font-family: var(--nav-font-fam);
} */