/* rehash this new view */

* {
    /* --temp-home-format: 'const const' 'webring webring' 'chat chat'; */
    --temp-home-format: 'const const' 'chat chat' 'bloglet bloglet';
    --new-home-format: 'const const' 'bloglet bloglet' 'webring webring' 'chat chat';
    --degree-check: 141.1deg;
}

@media screen and (orientation: portrait) and (min-width: 1024px) {

    .header-container {
        width: 80%;
    }

    .header-container:hover {
        width: 90%;
    }

    .wrapper.home {
        grid-template-areas: 'header header' 'navi navi' 'content side-panel';
        grid-template-columns: 45em 16em;
        grid-template-rows: 60px 80px auto;
    }

    .grid-container.navi {
        display: flex;
        justify-content: center;
    }

    .window-container {
        display: flex;
        flex-direction: column;
        width: 10000px;
        position: relative;
    }

    *:has(.window-container:not(.collapse))>* marquee {
        visibility: hidden;
    }


    /* .window-container.collapse > .hover-container{
        transform: none;
    } */


    .hover-hitbox {
        width: 100%;
    }

    .hover-container {
        justify-content: flex-start;
        width: 100%;
        flex: 1;
    }


    .hover-container:has(.hover-hitbox:hover) {
        z-index: 100000;
    }

    .home-sub-module-place {
        /* grid-template-areas: 'const const' 'bloglet bloglet' 'webring webring' 'chat chat'; */
        grid-template-areas: var(--temp-home-format);
        /* grid-template-rows: 1fr 1fr 1fr; */
        grid-template-columns: initial;
        gap: 10px;
    }

    .bloglet-window {
        max-width: none;
        width: 100%;
    }

    .home-sub-module-place>.bloglet-module:has(.bloglet-window) {
        margin-left: 30px;
    }

    .chat-box-wrapper {
        margin-right: 30px;
    }

    * {
        --warning: repeating-linear-gradient(var(--degree-check), var(--box-shadow-bottom), var(--box-shadow-bottom) 15px, #000 15px, #000 25px);
        --container-padding: 10px 0 !important;
    }

    .main-content-container.categories,
    .list-catalog:not(.hidden) {
        display: flex;
        flex-direction: column;
    }

    .article-area {
        min-height: 250px;
    }

}

@media screen and (orientation: portrait) and (max-width: 1023px) {
    * {
        box-sizing: border-box;
        --container-padding: 0px;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .grid-container.navi {
        z-index: 100;
    }

    .wrapper.home {
        width: 100%;
        grid-template-areas: 'header' 'navi' 'content' 'side-panel';
        grid-template-rows: 70px 90px auto auto;
        grid-auto-columns: auto;
    }


    /*nav area*/
    body:has(.body-container > .wrapper.home > .grid-container.navi > .window-container:not(.collapse)) {
        overflow-y: hidden;
        max-height: 100vh;
    }

    .header-container,
    .header-container:hover {
        box-shadow: none;
        margin-left: 0%;
    }

    .header-container>.site-title {
        font-size: 20pt;
    }

    .window-container,
    .window-container:has(.hover-hitbox:hover) {
        box-shadow: none;
    }

    .body-container {
        max-width: 100vw;
        width: 100%;
    }

    .window-container {
        position: relative;
        width: 98vw;
        height: 100vh;
        top: 0px;
        position: fixed;
    }

    .window-container.collapse {
        position: relative;
    }

    .hover-container {
        margin-top: 0px;
        margin-bottom: 8.5px;
    }

    .window-container>.hover-container {
        transform: translateY(10px);
        box-shadow: var(--box-shadow-0);
        margin-top: 10px;
    }

    .hover-container:has(.hover-hitbox:hover)>.hover-item,
    .hover-container:has(.hover-hitbox:not(:hover))>.hover-item {
        transform: none;
        animation: none;
    }

    .hover-container:has(.hover-hitbox:not(:hover))>.hover-item {
        transform: none;
    }

    .hover-hitbox:hover {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    .hover-container:last-child:has(.hover-hitbox:hover)>.hover-hitbox {
        height: 70px;
    }

    .window-container:has(.hover-hitbox:not(:hover)),
    .window-container:has(.hover-hitbox:hover) {
        box-shadow: 7px 7px var(--box-shadow-top);
    }

    .window-container.collapse {
        height: 80px;
    }

    .window-container.collapse>.hover-container {
        /*firefox/samsung fallback*/
        transform: translateY(calc(0% + calc(var(--index) * -70px) + 90px));
        /*chrome Def*/
        transform: translateY(calc(0% + calc(sibling-index() * -70px) + 90px));
    }



    /*end of nav area*/

    /*content-area*/

    .home-sub-module-place {
        /* grid-template-areas: 'const const' 'bloglet bloglet' 'webring webring' 'chat chat'; */
        grid-template-areas: var(--temp-home-format);
        /* grid-template-rows: 1fr 1fr 1fr; */
        grid-template-columns: initial;
        gap: 10px;
    }

    .home-sub-module-place>.bloglet-module:has(.bloglet-window) {
        margin-left: 30px;
    }

    .chat-box-wrapper {
        margin-right: 30px;
    }

    /* end of content-area */

    /* categories*/
    .main-content-container.categories,
    .list-catalog:not(.hidden) {
        display: flex;
        flex-direction: column;
    }

    .blog-category-item, 
    .list-catalog:not(.hidden){
        width: 93%;
    }

    .list-catalog:not(.hidden) {
        margin-left: auto;
        margin-right: auto;
    }

    .pagination {
        margin: 0;
        margin-top: 20px;
    }


    /*end of categories*/

    /* gallery*/

    .gallery-container {
        padding: 0%;
        display: flex;
        width:100%;
    }

    .gallery-grid {
        grid-template-rows: 150px;
        grid-template-columns: 150px 150px 150px 150px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        gap: 1px;
    }

    .gallery-grid>a {
        padding: 10px;
        justify-content: center;
    }

    .thumb {
        width: 150px;
        height: 150px;
        aspect-ratio: unset;
    }


    /*end of gallery*/

    /* side panel */
    .side-panel {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    /* end of side panel*/

    /*footer*/

    .footer {
        background-color: var(--box-shadow-top);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 200px;
    }

    .footer>.lhs,
    .footer>.rhs {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*end of footer*/



    /* .body-container,
    .footer {
        display: none;
    } */

    /* html:after {
        content: "Not Mobile Friendly at the moment. Mobile View Under Construction.";
        display: flex;
        width: 100%;
        height: 50vh;
        margin-top: 50%;
        margin-bottom: 50%;
        justify-content: center;
        align-items: center;
        background-color: green;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        text-align: center;
    } */

}

@media screen and (orientation: landscape) and (min-width: 0px) and (max-width: 1560px) {
    .side-panel {
        margin-left: 2px;
        width: 90% !important;
        /* min-width: 200px;
        max-width: 300px; */
    }


    .header-container {
        width: 80%;
    }

    .header-container:hover {
        width: 90%;
    }

    .wrapper.home {
        grid-template-areas: 'header header' 'navi navi' 'content side-panel';
        grid-template-columns: 45em 16em;
        grid-template-rows: 60px 80px auto;
    }

    .grid-container.navi {
        display: flex;
        justify-content: center;

    }

    .window-container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    .hover-container {
        justify-content: unset;
    }

    *:has(.window-container:not(.collapse))>* marquee {
        visibility: hidden;
    }

    .home-sub-module-place {
        grid-template-areas: var(--temp-home-format);
        /* grid-template-rows: 1fr 2fr; */
        grid-template-columns: initial;
        gap: 10px;
    }

    .bloglet-window {
        max-width: none;
        width: 100%;
    }

    .home-sub-module-place>.bloglet-module:has(.bloglet-window) {
        margin-left: 30px;
    }

    .chat-box-wrapper {
        margin-right: 30px;
    }

    * {
        --warning: repeating-linear-gradient(var(--degree-check), var(--box-shadow-bottom), var(--box-shadow-bottom) 15px, #000 15px, #000 25px);
        --container-padding: 10px 0 !important;
    }

    .main-content-container.categories,
    .list-catalog:not(.hidden) {
        display: flex;
        flex-direction: column;
    }

    .article-area {
        min-height: 250px;
    }

}