body {
  background-color: #393E41;
  color: black;
  font-family: Verdana;
}

body.preload * {
  animation-duration: 0s !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

* {
  --hover-demo-bg-color: #fff;
  --hover-item-bg-color: #EEE;
  --hover-item-select-bg-color: #D3D0CB;
  --hover-item-hover-bg-color: #E7E5DF;
  --content-bg-color: #EFEFEF;

  --box-shadow-top-up: 0px -10px;
  --box-shadow-bottom-up: 0px -20px;

  --box-shadow-close: 0px;

  --box-shadow-top-exp: 10px 10px;
  --box-shadow-bottom-exp: 20px 20px;

  --box-sh-sh-neutral: 0px 0px;
  --box-sh-sh-main-top-exp: 5px 0px;
  --box-sh-sh-top-top-exp: 10px 5px;
  --box-sh-sh-top-right-exp: 15px 5px;
  --box-sh-sh-main-bot-exp: 0px 5px;
  --box-sh-sh-top-bot-exp: 5px 15px;
  --box-sh-sh-bot-top-exp: 20px 15px;

  --box-sh-sh-bot-exp: 0px 20px;

  --box-shadow-shadows: var(--box-sh-sh-main-top-exp)black, var(--box-sh-sh-top-top-exp)black, var(--box-sh-sh-top-right-exp)black, var(--box-sh-sh-main-bot-exp)black, var(--box-sh-sh-top-bot-exp)black, var(--box-sh-sh-bot-top-exp)black;

  --box-shadow-0: var(--box-shadow-top-up) var(--box-shadow-top), var(--box-shadow-bottom-up) var(--box-shadow-bottom);
  --box-shadow-50: var(--box-shadow-close) var(--box-shadow-top), var(--box-shadow-close) var(--box-shadow-bottom);
  --box-shadow-100: var(--box-shadow-top-exp) var(--box-shadow-top), var(--box-shadow-bottom-exp) var(--box-shadow-bottom), var(--box-shadow-shadows);


  --box-shadow-top: #44BBA4;
  --box-shadow-bottom: #E7BB41;

  --box-spring-up: translate(-20px, -20px);
  --box-spring-neutral: translate(0px, 0px);

  --box-bounce: linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);

  --container-padding: 10px 0px 10px 20px;
  --container-hover-shadow: 5px 5px var(--box-shadow-top);
  --container-normal-shadow: 8px 8px var(--box-shadow-top);
  --container-normal-trans: box-shadow 0.5s var(--box-bounce);
}


@keyframes springitem {
  0% {
    transform: var(--box-spring-neutral);
    margin-top: 20px;
  }

  50% {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
  }

  100% {
    transform: var(--box-spring-up);
    border-top: 5px solid black;
    border-left: 5px solid black;
    background-color: var(--hover-item-select-bg-color);
    margin-top: 0px;

  }
}

@keyframes shadowspring {
  0% {
    box-shadow: var(--box-shadow-0)
  }

  50% {
    box-shadow: var(--box-shadow-50)
  }

  100% {
    box-shadow: var(--box-shadow-100);

  }
}

@keyframes springitemRev {
  0% {
    transform: var(--box-spring-up);
    margin-top: 0px;
  }

  100% {
    transform: var(--box-spring-neutral);

  }
}

@keyframes shadowspringRev {
  0% {
    box-shadow: var(--box-shadow-100);

  }

  50% {
    box-shadow: var(--box-shadow-50)
  }

  100% {
    box-shadow: var(--box-shadow-0);
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-title {
  font-size: 35px;
}

.construction {
  display: none;
  align-items: center;
  justify-content: center;
  height: 95vh;
  flex-direction: column;
}

.wrapper {
  display: grid;
  height: 100vh;
  width: 85vw;
  min-width: 640px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hover-demo-bg-color)00;
}

.wrapper.home {
  grid-template-areas: 'header header header header' 'navi content content extra' 'footer footer footer footer';
  grid-template-rows: 60px auto 120px;
  grid-template-columns: 200px 60em 200px;
  gap: 10px;
}

.window-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: max-content;
  align-items: center;
  border: 5px solid black;
  background-color: yellow;
  transition: var(--container-normal-trans);

}

.grid-container.header {
  background-color: aquamarine;
  grid-area: header;
}

.grid-container.navi {
  grid-area: navi;
  padding-top: 10px;
}

.grid-container.content {
  grid-area: content;
  /* background-color: orange; */
}

.grid-container.footer {
  grid-area: footer;
  background-color: var(--box-shadow-top);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.window-content {
  background-color: yellow;
  height: 740px;
  width: 100%;
}



.hover-item.active {
  background-color: var(--hover-item-hover-bg-color);
}

.hover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.hover-hitbox {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.hover-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  background-color: var(--hover-item-bg-color);
  height: 50px;
  width: 100%;
  aspect-ratio: 1/5;
  z-index: 999;
}



.hover-hitbox:hover {
  height: 150%;
  width: 120%;
  left: -20px;
  top: -20px;
  /* background-color: red; */
}

.hover-container:last-child:has(.hover-hitbox:hover)>.hover-hitbox {
  height: 180%;
}

.window-container:has(.hover-hitbox:hover)>.hover-hitbox:not(:hover) {
  pointer-events: none;
}

.hover-container:has(.hover-hitbox:hover)>.hover-item {
  transform: var(--box-spring-neutral);
  animation: springitem cubic-bezier(0.6, 0.02, 0.13, 0.98) 0.2s forwards, shadowspring var(--box-bounce) 0.4s forwards;
}

.hover-container:has(.hover-hitbox:not(:hover))>.hover-item {
  transform: var(--box-spring-up);
  animation: springitemRev cubic-bezier(0.6, 0.02, 0.13, 0.98) 0.2s forwards, shadowspringRev var(--box-bounce) 0.4s forwards;
}

.window-container:has(.hover-hitbox:not(:hover)) {
  box-shadow: 7px 7px var(--box-shadow-top);
}

.window-container:has(.hover-hitbox:hover) {
  box-shadow: 2px 2px var(--box-shadow-top);
}


/* .content-container, */
.header-container {
  width: 100%;
  height: 100%;
  background-color: var(--content-bg-color);
  transition: var(--container-normal-trans);
  box-shadow: var(--container-normal-shadow);
}

/* .content-container:hover, */
.header-container:hover,
.article-area:hover,
.gallery-grid:hover,
.blog-content:hover,
.guestbook:hover,
.home-grid:hover {
  box-shadow: var(--container-hover-shadow);
}

/* article */

.list-catalog {
  padding: var(--container-padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.list-catalog.hidden {
  display: none;
}

.article-area {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  box-shadow: var(--container-normal-shadow);
  transition: var(--container-normal-trans);
  min-height: 250px;
  max-height: 250px;
  padding-bottom: 20px;
}

.article-content,
.article-details,
.expand-article {
  padding: 12px;
}

.expand-article span,
.pages>span,
#left-nav,
#right-nav {
  cursor: pointer;
}

.article-content {
  padding-top: 15px;
  max-height: 90px;
  min-height: 90px;
}

.article-content p {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.article-details {
  border: 2px solid black;
  background-color: var(--hover-item-select-bg-color);
}

.expand-article {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 0%;
  padding-right: 25px;
  box-sizing: border-box;
}

.expand-article span {
  font-weight: 600;

}

/*blog content*/

.blog-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 600px;
  height: 100%;
  transition: var(--container-normal-trans);
  box-shadow: var(--container-normal-shadow);
  box-sizing: border-box;
  margin: var(--container-padding);
}

.blog-details {
  padding: 12px;
  background-color: var(--hover-item-select-bg-color);
  box-sizing: border-box;
  border: 2px solid black;
}

.blog-publish {
  display: flex;
  flex-direction: column;
}

.blog-text {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

/*pagination*/

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: white;
  margin-left: 20px;
  margin-top: 5px;
}

.pages {
  display: flex;
  gap: 5px;
}

.pages>span.selected {
  background-color: var(--hover-item-select-bg-color);
  padding-left: 2px;
  padding-right: 2px;
}

/* gallery container */


.gallery-container {
  padding: 10px 0px 0px 20px;
  min-height: 600px;

}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px;
  background-color: white;
  min-height: 600px;
  transition: var(--container-normal-trans);
  box-shadow: var(--container-normal-shadow);
}

.blog-img-container {
  display: flex;
  justify-content: center;
}

.blog-image {
  width: 30em;
  height: 30em;
}

.gallery-grid>a {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.gallery-grid>a>img {
  transition: var(--container-normal-trans), transform 0.5s var(--box-bounce);
}

.gallery-grid>a:hover>img {
  box-shadow: var(--container-hover-shadow);
  transform: translate(-5px, -5px);
}


.thumb {
  width: 150px;
  aspect-ratio: 4/5;
}

/*404*/

.nothing-burger {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
}

.nothing-burger>h1 {
  font-size: 64pt;
  color: white;
  text-shadow: #000 5px 5px;
}

.nothing-burger>span {
  font-size: 16pt;
  color: black;
}

/*guestbook*/

.guestbook-cont {
  width: 100%;
  min-height: 600px;
  padding: var(--container-padding);
  box-sizing: border-box;
}

.guestbook {
  width: 100%;
  min-height: inherit;
  border: 0 solid black;
  box-shadow: var(--container-normal-shadow);
  transition: var(--container-normal-trans);
}

/*renew home*/

.home-padding {
  width: 100%;
  min-height: 600px;
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.home-grid {
  background-color: #fff;
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  transition: var(--container-normal-trans);
  box-shadow: var(--container-normal-shadow);
}

/* new home */

.welcome-cont {
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.home-sub-module-place {
  width: 100%;
  min-height: 500px;
  flex: 1 1 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 'others others' 'bloglet chat';
  grid-template-rows: 500px 400px;
  grid-template-columns: 50% 50%;
}

.bloglet-module {
  grid-area: bloglet;
  justify-content: center;
  display: flex;
  align-items: center;
}

.bloglet-window {
  margin: 20px;
  background-color: #fff;
  box-sizing: border-box;
  max-width: 500px;
}

.bloglet-mod-title {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--box-shadow-top);
}

.bloglet-title {
  font-weight: 700;
}

.bloglet-title:hover,
.bloglet-date:hover {
  /* transform: var(--box-spring-up); */
  text-decoration: underline dotted black;
  cursor: pointer;
}

.list-item-bloglet {
  height: 80px;
  display: flex;
  flex-direction: column;
  background-color: var(--hover-item-hover-bg-color);
  box-sizing: border-box;
  border: 1px solid #000;
  justify-content: center;
  padding-left: 20px;
  overflow-x: hidden;
}